{% extends 'layout.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="shadow p-3 mb-5 bg-body rounded">
    <h1>{{ _('Welcome to our Evidence-Based Medicine website!') }}</h1>
    <p>{{ _('Our website is designed to provide you with the most up-to-date and reliable information on the effectiveness of various medical treatments and drugs. Our team of experts uses the latest research and clinical data to determine the level of evidence supporting each treatment or drug.') }}</p>
    <p>{{ _('We understand that making decisions about your health can be difficult, which is why we strive to make our information as easy to understand and accessible as possible. We believe that by providing you with accurate and unbiased information, you will be able to make more informed decisions about your healthcare') }}.</p>
    <p>{{ _('Thank you for visiting our website and please feel free to contact us if you have any questions or feedback.') }}</p>
</div>
{% endblock %}