{% extends 'layout.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}

<h3>We have found {{ count }} articles for your {{ query }}</h3>

<h1>{{ _('Search Results') }}</h1>

<ul>
  {% for res in result %}
    {% if 'abstract' in res %}
      <li>
        <a href="{{ res['link'] }}">{{ res['title'] }}</a>
        <button class="more-btn">More</button>
        <p class="abstract" style="display:none;">{{ res['abstract'] }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<script>
  const moreBtns = document.querySelectorAll('.more-btn');
  moreBtns.forEach(btn => {
    btn.addEventListener('click', e => {
      const abstract = e.target.nextElementSibling;
      if (abstract.style.display === 'none') {
        abstract.style.display = 'block';
      } else {
        abstract.style.display = 'none';
      }
    });
  });
</script>

{% endblock %}


{% extends 'layout.html' %}

{% block title %}Search Results{% endblock %}

{% block content %}

<h1>{{ _('Search Results') }}</h1>

<ul>
  {% for res in publications %}
    {% if 'abstract' in res %}
      <li>
        <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ res['id'] }}">{{ res['title'] }}</a>
        <p>{{ res['abstract'] }}</p>
      </li>
    {% endif %}
  {% endfor %}
</ul>

{% endblock %}